IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 100
PointerAlignment: Left
DerivePointerAlignment: false

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

PackConstructorInitializers: NextLine
Cpp11BracedListStyle: false